{% extends "admin/file_manager/file-manager-base.html" %}





{% block breadcrumbs %}
    {% if input_name %}
        <li><a href="{% url 'admin_image_uploader' input_name %}?{{ request.META.QUERY_STRING }}">Images</a></li>
        {% for breadcrumb in folder.get_breadcrumbs %}
            <li><a href="{% url 'admin_image_folder' input_name breadcrumb.id %}?{{ request.META.QUERY_STRING }}">{{ breadcrumb }}</a></li>
        {% endfor %}
        <li>New Folder</li>
    {% else %}
        <li><a href="{% url 'admin_cke_image_uploader' %}?{{ request.META.QUERY_STRING }}">Images</a></li>
        {% for breadcrumb in folder.get_breadcrumbs %}
            <li><a href="{% url 'admin_cke_image_folder' breadcrumb.id %}?{{ request.META.QUERY_STRING }}">{{ breadcrumb }}</a></li>
        {% endfor %}
        <li>New Folder</li>
    {% endif %}
{% endblock %}

{% block buttons %}
    {% if input_name %}
        <a href="{% url 'admin_image_folder' input_name folder.id %}?{{ request.META.QUERY_STRING }}" class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
    {% else %}
        <a href="{% url 'admin_cke_image_folder' folder.id %}?{{ request.META.QUERY_STRING }}" class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>New Folder</h3>
    <form action="" method="post">
        {% csrf_token %}
        {% include "admin/file_manager/partials/form.html" with form=form %}
		<div class="form-group form-actions">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
    </form>
{% endblock %}