{% extends 'page/base.html' %}
{% load static %}

{% block banner %}
    {% if page.page_banner %}
        <img src="{{ page.page_banner.url }}" alt="">
    {% else %}
        <img class="img-responsive" src="{% static 'images/banner-tournament-photp.jpeg' %}" style="height:45rem"  alt="">
{% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-5">
                <div class="enterprise-text">
                    <h3>{{ page.title }}</h3>
                    <form  method="POST" action="">
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {% for message in messages %}
                                    <h2>{{message}}</h2>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.surname }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.telephone }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">                        
                            {{ form.enquirer_type }} 
                        </div>
                        <div class="form-group">                        
                            {{ form.referrer }} 
                        </div>

                        <div class="form-group">
                            {{ form.message }}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-8">
                                    
                                    {{form.captcha}}
                                </div>
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
            <div class="col-lg-4 col-sm-5">
                <div class="contact-thumb">
                    <img src="{% static 'images/contact-us.jpeg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>

{% endblock %}