{% extends 'page/base.html' %}
{% load static %}

{% block banner %}
{% if page.page_banner %}
<img src="{{ page.page_banner.url }}" alt="">
{% else %}
<img src="{% static 'images/mbc-cover-page1.jpg' %}" style="height:30rem"  alt="">
{% endif %}
{% endblock %}

{% block content %}
<div class="enterprise-content">
    <div class="container">
        <div class="d-flex justify-content-start">
            <div class="float-left">
                <div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="home-text-block">
                        <h3>{{ tournament.name }}</h3>
                        <div>
                            <span><strong>Title:</strong> {{ tournament.title }}</span></br>
                            <span><strong>Tournament Date/Time:</strong> {{ tournament.tournament_date_time }}
                                           <span class="badge badge-success">Active</span>
                                </span></br>
                            <span><strong>Registration Last Date:</strong> {{ tournament.last_registration_date }}</span>
                            <span class="badge badge-danger">Completed</span></span></br>
                            <span><strong>Allowed Registrations:</strong> {{ tournament.total_allowed_registration }}</span></br>
                            <span><strong>Venue:</strong> {{ tournament.venue }}</span></br>
                            <span><strong>Address:</strong> {{ tournament.address }}</span></br>
                            <span><strong>More Details:</strong> {{ tournament.description | safe }}</span>
                        </div>
                        </div>
                    </div>
                    <hr/>
                    {% for p in page %}
                    <div class="col-lg-12 col-sm-12">
                        <div class="home-text-block">
                            <h3>{{ p.title }}</h3>
                            {{ p.description | safe }}
                            <hr/>
                        </div>
                    </div>
                    {% if p.image %}
                    <div class="col-lg-12 col-sm-12">
                        <div class="sidebar-mobthumb">
                            <img src="{{ p.image.url }}" alt="">
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="float-right">
                <div>
                    <div class="col-lg-12 col-sm-8">
                        <div class="home-text-block">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    {% for i in cimages %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img class="d-block w-auto h-auto" src="{{i.image.url}}" alt="First slide">
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
<script type="text/javascript">
    $('.blog-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:3,
                nav:false
            },
            1000:{
                items:3,
                nav:true,
                loop:false
            }
        }
    })

</script>
{% endblock %}
