{% extends 'page/base.html' %}
{% load static %}

{% block banner %}
{% if page.banner %}
<img src="{{ page.banner.url }}" xmlns="http://www.w3.org/1999/html" alt="">
{% else %}
<img class="img-responsive" src="{% static 'images/banner-tournament-photp.jpeg' %}" style="height:45rem"  alt="">
{% endif %}
{% endblock %}

{% block content %}
<div class="enterprise-content">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.description }}</p>
                    <p>{{ page.content }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}