{% extends 'page/base.html' %}
{% load static %}

{% block banner %}
    {% if page.page_banner %}
        <img src="{{ page.page_banner.url }}" alt="">
    {% else %}
        <img src="{% static 'images/banner-enterprise.jpg' %}" alt="">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="legal-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12">
                    <h2>{{ page.title }}</h2>
                    {{ page.content|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}