{% extends 'page/base.html' %}
{% load static %}

{% block banner %}
    {% if page.page_banner %}
        <img src="{{ page.page_banner.url }}" alt="">
    {% else %}
        <img src="{% static 'images/mbc-cover-page1.jpg' %}" style="height:30rem"  alt="">
    {% endif %}
{% endblock %}

{% block content %}
<div class="enterprise-content">
    <div class="container">
        <h3>Registration</h3>
        <div class="row">
            <div class="col-lg-6 col-sm-5">
                <div class="enterprise-text">
                    <form id="enquiry-form" method="POST" action="">
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {% for message in messages %}
                                    <h2>{{message}}</h2>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.tournament.label_tag }}
                                    {{ form.tournament }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                     {{ form.category.label_tag }}
                                    {{ form.category }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.certificate_name.label_tag }}
                                    {{ form.certificate_name }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.partner_name.label_tag }}
                                    {{ form.partner_name }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.certificate_partner_name.label_tag }}
                                    {{ form.certificate_partner_name }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            {{ form.team_name.label_tag }}
                            {{ form.team_name }}
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.mobile.label_tag }}
                                    {{ form.mobile }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            {{ form.comments.label_tag }}
                            {{ form.comments }}
                        </div>
                    
                        <div class="form-group form-check">
                            {{ form.unisex_cap_order }}
                            {{ form.unisex_cap_order.label_tag }}
                        </div>
                    
                        <div class="form-group form-check">
                            {{ form.terms_confirmed }}
                            {{ form.terms_confirmed.label_tag }}
                            <a href="#tournament_term_condition" onclick="fetchTnc()" data-toggle="modal" data-target="#tournament_term_condition">
                                Click to review terms & conditions
                            </a>
                        </div>

                        <div class="form-group">
                            <div class="row">
<!--                                <div class="col-lg-8">-->
<!--                                    -->
<!--                                    {{form.captcha}}-->
<!--                                </div>-->
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-sm-5" style="margin-top:2rem">
                <div id="tournament_details">
                </div>
            </div>

            <!-- Modal -->
            <div  name="tournament_term_condition" style="display: none;"  class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div id="tournament_term_condition_content"
                     class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}