{% extends 'page/base.html' %}
{% load static %}

{% block banner %}
    {% if page.page_banner %}
        <img src="{{ page.page_banner.url }}" alt="">
    {% else %}
        <img src="{% static 'images/mbc-cover-page1.jpg' %}" style="height:30rem"  alt="">
    {% endif %}
{% endblock %}
{% block content %}
<div class="enterprise-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-5">
                {%  if not is_registration_open %}
                <div style="text-align:center; margin-top:10rem;">
                <h1 class="normal" style="font-weight:600; font-size:40px;">There is no current active tournament available for registration. Please check back later.</h1>
                </div>
                {% else %}
                <h3 style="font-weight:600">Registration - <span class="normal">please complete separately for each category competing in</span></h3>
                <div class="enterprise-text">
                    <form  method="POST" action="">
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {% for message in messages %}
                                    <h5>{{message}}</h5>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.tournament }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.category.label_tag }}
                                    {{ form.category }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.certificate_name.label_tag }}
                                    {{ form.certificate_name }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.partner_name.label_tag }}
                                    {{ form.partner_name }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.certificate_partner_name.label_tag }}
                                    {{ form.certificate_partner_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                            {{ form.team_name.label_tag }}
                            {{ form.team_name }}
                        </div>
                        </div></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.mobile.label_tag }}
                                    {{ form.mobile }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            {{ form.comments.label_tag }}
                            {{ form.comments }}
                        </div>
                    
                        <div class="form-group form-check">
                            {{ form.unisex_cap_order }}
                            {{ form.unisex_cap_order.label_tag }}
                        </div>
                        {% if tournament_data.opt_in %}
                            <div class="form-group form-check">
                                {{ form.opt_in }}
                                {{ form.opt_in.label_tag }}
                            </div>
                        {% endif %}
                        {% if tournament_data.term_condition %}
                            <div class="form-group">
                                {{ form.terms_confirmed }}
                                {{ form.terms_confirmed.label_tag }}
                                <a href="#tournament_term_condition" id="tournament_tnc" data-toggle="modal"
                                    onclick="showData(this.id)"
                                    data-body="{{ tournament_data.term_condition }}"
                                    data-title="{{ tournament_data.name }} - Term & Conditions">
                                    Click to review
                                </a>
                            </div>
                        {% endif %}
                        {% if tournament_data.facility_request %}
                            <div class="form-group">
                                {{ form.facility_request }}
                                {{ form.facility_request.label_tag }}
                                <a href="#tournament_term_condition" id="tournament_facility"
                                    onclick="showData(this.id)" data-toggle="modal"
                                    data-body="{{ tournament_data.facility_request }}"
                                    data-title="{{ tournament_data.name }} - Facility Request">
                                    Click to review
                                </a>
                            </div>
                        {% endif %}
                        {% if tournament_data.tournament_rules %}
                            <div class="form-group">
                                {{ form.tournament_rules }}
                                {{ form.tournament_rules.label_tag }}
                                <a href="#tournament_term_condition" id="tournament_rules"
                                    onclick="showData(this.id)" data-toggle="modal"
                                    data-body="{{ tournament_data.tournament_rules }}"
                                    data-title="{{ tournament_data.name }} - Tournament Rules">
                                    Click to review
                                </a>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="row">
<!--                                <div class="col-lg-8">-->
<!--                                    -->
<!--                                    {{form.captcha}}-->
<!--                                </div>-->
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-6 col-sm-6" style="margin-top:2rem">
                {% for i in thumbnails %}
                    <a href="#" id="tournament_imgs{{forloop.counter}}" onclick="addImagePopup({{forloop.counter}})">
                        <img id="imageresource{{forloop.counter}}" class="rounded float-left img-thumbnail" width="50%"  src="{{i.image.url}}" >
                    </a>
                {% endfor %}
            </div>
            <!-- Modal Image -->
            <!-- Creates the bootstrap modal where the image will appear -->
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">
                            <img src="" id="imagepreview" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div id="tournament_term_condition" style="display: none;"  class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div id="tournament_term_condition_content"
                     class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tnc_title">{{ tournament.name }} - Terms & Conditions</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="tnc_body">
                            {{ tournament.term_condition | safe }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}