<div class="card mb-3">
    <div class="card-header" style="background-color:#189ADD !important; color: white">{{ tournament.name }}</div>
    <div class="card-body">
        <span><strong>Title:</strong> {{ tournament.title }}</span></br>
        <span><strong>Tournament Date/Time:</strong> {{ tournament.tournament_date_time }}</span></br>
        <span><strong>Registration Last Date:</strong> {{ tournament.last_registration_date }}</span></span></br>
        <span><strong>Allowed Registrations:</strong> {{ tournament.total_allowed_registration }}</span></br>
        <span><strong>Venue:</strong> {{ tournament.venue }}</span></br>
        <span><strong>Address:</strong> {{ tournament.address }}</span></br>
    </div>
</div>