<script type="text/javascript">

    if (typeof django == 'undefined'){
        var j = jQuery.noConflict();
    } else {
        var j = django.jQuery.noConflict();
    }

	function ajax_set_file() {
		filewin = window.open("{% url 'admin_file_uploader' name %}","FileSelect", "width=450, height=500,scrollbars=yes");
	}

	function ajax_select_file(f_input, f_value,f_name) {
		j("#file_input_"+f_input).val(f_value);
		j("#file_display_"+f_input).html(f_name);
	}
</script>
<style type="text/css">
    .field-{{ name }} .add-another {
        display:none;
    }
</style>

<div class="fileinput_wrap">
	<input name="{{ name }}" type="hidden" value="{{ value }}" id="image_input_{{ name }}" />
	<div class="i_input" id="image_display_{{ name }}">
		{{ file }}
	</div>
	<a href="#" onclick="ajax_set_file();return false" title="Browse Server For File">Browse</a>
</div>