{% extends "admin/file_manager/file-manager-base.html" %}





{% block breadcrumbs %}
    {% if input_name %}
        <li><a href="{% url 'admin_file_uploader' input_name %}?{{ request.META.QUERY_STRING }}">Files</a></li>
        <li class="active">New Folder</li>
    {% else %}
        <li><a href="{% url 'admin_cke_file_uploader' %}?{{ request.META.QUERY_STRING }}">Files</a></li>
        <li class="active">New Folder</li>
    {% endif %}
{% endblock %}

{% block buttons %}
    {% if input_name %}
        <a href="{% url 'admin_file_uploader' input_name %}?{{ request.META.QUERY_STRING }}" class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
    {% else %}
        <a href="{% url 'admin_cke_file_uploader' %}?{{ request.META.QUERY_STRING }}" class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>New Folder</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
		<div class="form-group form-actions">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
    </form>
{% endblock %}
