{% extends "admin/file_manager/file-manager-base.html" %}





{% block breadcrumbs %}
    {% if input_name %}
        <li><a href="{% url 'admin_file_uploader' input_name %}?{{ request.META.QUERY_STRING }}">Images</a></li>
        <li class="active">Upload File</li>
    {% else %}
        <li><a href="{% url 'admin_cke_image_uploader' %}?{{ request.META.QUERY_STRING }}">Images</a></li>
        <li class="active">Upload File</li>
    {% endif %}
{% endblock %}

{% block buttons %}
    {% if input_name %}
        <a href="{% url 'admin_file_uploader' input_name %}?{{ request.META.QUERY_STRING }}" class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Upload Image</a>
    {% else %}
        <a href="{% url 'admin_cke_file_uploader' %}?{{ request.META.QUERY_STRING }}" class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Upload Image</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>Upload File</h3>
    <form action="" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {% include "admin/file_manager/partials/form.html" with form=form %}
		<div class="form-group form-actions">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
    </form>
{% endblock %}