{% extends 'emails/base.html' %}

{% block content %}
<div>
<h3>The following details submitted on the Milton Masters Badminton registration form.
    We will get back to you to confirm your registration and for tournament fee.</h3>
<p>
    <strong>Tournament:</strong> {{ player.tournament }} </p>
<p>
    <strong>Category:</strong> {{ player.category.first }}</p>
<p>
    <strong>Your Name:</strong> {{ player.name }} </p>
<p>
    <strong>Your Name on Certificate? Please leave empty if same as above:</strong> {{ player.certificate_name }} </p>
<p>
    <strong>Your partner name? If not confirmed please add NA:</strong> {{ player.partner_name }} </p>
<p>
    <strong>Your partner name on Certificate? If not confirmed please add NA or leave empty if same as above:</strong> {{ player.certificate_partner_name }} </p>
<p>
    <strong>Team Name? If not sure please add NA:</strong> {{ player.team_name }} </p>
<p>
    <strong>Your mobile number (this would be used for WA messaging the tournament details):</strong> {{ player.mobile }} </p>
<p>
    <strong>Any questions/comments - please add:</strong> {{ player.comments }}</p>
<p>
    <strong>Unisex cap - White Color/Black print $5/each:</strong>
    {% if player.unisex_cap_order %} <span class="icon-tick">&#10003;</span> {% else %} <span class="icon-cross"><b>&#10539;</b></span> {% endif %}
</p>
<p><strong>Opt-In: Consent required, If Milton Masters can collect and store your team's tournament performance, for reporting annual progression:</strong>
    {% if player.opt_in %} <span class="icon-tick">&#10003;</span> {% else %} <span class="icon-cross"><b>&#10539;</b></span> {% endif %}
</p>
<p><strong>Terms confirmed:</strong>
    {% if player.terms_confirmed %} <span class="icon-tick">&#10003;</span> {% else %} <span class="icon-cross"><b>&#10539;</b></span> {% endif %}
</p>
<p><strong>Facility request:</strong>
    {% if player.facility_request %} <span class="icon-tick">&#10003;</span> {% else %} <span class="icon-cross"><b>&#10539;</b></span> {% endif %}
</p>
<p><strong>Tournament rules:</strong>
    {% if player.tournament_rules %} <span class="icon-tick">&#10003;</span> {% else %} <span class="icon-cross"><b>&#10539;</b></span> {% endif %}
</p>
</div>
{% endblock %}